// These values are from TransferWise bootstrap less files
$border-light: #e2e6e8;
$hover-light: #f2f5f7;
$light-text: #72839f;
$brand-navy: #37517e;
$brand-navy-minus-10: #2e4369;
$brand-light: #1bc0ff;

$spacing-unit: 8px;

$show-dropdow-animation: showDropdown .2s cubic-bezier(.6,.2,.1,1) both;
$dropdow-box-shadow: 0 20px 66px 0 rgba(34,48,73,.2);
